<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sum Calculator</title>
</head>
<body>
    <h1>Calculator</h1>
    <form action="/calculate" method="post">
        <label for="num1">Enter first number:</label>
        <input type="number" id="num1" name="num1"><br><br>
        <label for="num2">Enter second number:</label>
        <input type="number" id="num2" name="num2"><br><br>
        <label for="operation">Enter operation:</label>
        <input type="text" id="operation" name="operation"><br><br>
        <input type="submit" value="Calculate Sum">
    </form>

    <!-- <h1>Simple interest calculator</h1>
    <form action="/simpleinterest" method="post">
        <label for="principal">Enter principal:</label>
        <input type="number" id="principal" name="principal"><br><br>
        <label for="rate">Enter rate:</label>
        <input type="number" id="rate" name="rate"><br><br>
        <label for="time">Enter time:</label>
        <input type="number" id="time" name="time"><br><br>
        <input type="submit" value="Calculate Simple Interest">
    </form> -->

    <!-- <h1>Display Hello</h1>
    <form action="/hello" method="post">
        <label for="name">Enter name:</label>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Greet Hello">
    </form> -->

    <!-- <h1>Fahrenheit to Celsius</h1>
    <form action="/fahrenheittocelsius" method="post">
        <label for="fahrenheit">Enter temp in Fahrenheit:</label>
        <input type="number" id="fahrenheit" name="fahrenheit"><br><br>
        <input type="submit" value="Convert temp to Celsius">
    </form> -->

    <!-- <h1>Miles to KMs</h1>
    <form action="/milestokms" method="post">
        <label for="miles">Enter distance in Miles:</label>
        <input type="number" id="miles" name="miles"><br><br>
        <input type="submit" value="Convert dist to KMs">
    </form> -->

</body>
</html>